# COMP 543 Assignment 2 -- Imperative SQL

### Description

For this assignment, you will be writing a few stored procedures in SQL to analyze a graph data set. The data set to analyze contains a subset of gene-gene interactions from BioGRID (https://thebiogrid.org/), the Biological Repository for Interaction Datasets. The data set has around 7,000 genes and 39,500 relations between those genes. The data set is comprised of two database tables:

```
nodes (id, symbol);
edges (id, refId);
```

The first table gives a unique gene identifier, as well as the symbol for the gene. The second table indicates relationships between the genes (note that references have a direction).

Your task is to write two stored procedures that analyze this data.

## Connected Components
You will first write a stored procedure that treats the graph as being undirected (that is, do not worry about the direction of reference) and finds all connected components in the graph that have between five and eight genes (inclusive), printing out the associated lists of symbols. My implementation found five such connected components in the data set. To refresh your memory, a connected component is a subgraph such that there exists a path between each pair of nodes in the subgraph. Such a subgraph must be maximal in the sense that it is not possible to add any additional nodes that are connected to any node in the subgraph. 

The standard method for computing a connected component is a simple breadth-first search. Pick a random starting node, and then search for all nodes reachable from the starting node, then search for all nodes reachable from all of **those** nodes, and then search for all of the nodes reachable from **those** nodes, and so on,
until no new nodes are found.  The entire set of discovered nodes is a connected component.  
If there are any nodes that are not part of any connected component analyzed so far, then pick one of those nodes, and restart the computation.
You are done when all of the nodes are part of exactly one connected component.

Your program should first compute all of the connected components, and then
print out all of the connected components that are have at least five members and no more than eight.  
When you print out the components, print each gene ID as well as the symbol. Within each component, order the components by symbol name.

## PageRank

PageRank is a standard graph metric that is well-known as the basis for Google's original search engine.  The idea behind PageRank is simple: we want a metric that rewards web pages (or in our case, gene interactions) that are often pointed to by other pages. The more popular the page, the greater the PageRank.

To accomplish this, PageRank models a web surfer, starting at a random page, and randomly clicking links.  The surfer simply goes to a page, sees the links, and picks one to follow.  After each link clicked, there is a probability $1 - d$ that the surfer will jump to a random page; $d$ is called the **damping factor**. A standard value for $d$ is 0.85 (everyone should use this value so we are all doing the same thing). Given this setup, the so-called **PageRank** of a web page (or a gene) is the probability that when the user stops clicking (or following references), s/he will land on the page.

Since so-called **sinks** (those pages that don't link anywhere else) would accumulate all of this probability under the simplest model, it is assumed that those pages with no out-links instead link with equal probability to everyone else.

There are many ways to compute the PageRank of every page (or gene!) in a data set.  The simplest is an iterative
computation.  Let $PR_i (\textrm{gene}_j)$ denote the estimated PageRank of the gene $\textrm{gene}_j$ at iteration $i$; assume
that there are $n$ gene in all.  We start out with $PR_0 (\textrm{gene}_j) = \frac{1}{n}$ forall $j$.  Then, at iteration 
$i$, we simply set:
$$PR_i (\textrm{gene}_j) = \frac{1 - d}{n} + d \left( \sum_{k \in \{\textrm{genes referencing gene}_j\}} 
	\frac{PR_{i - 1}(\textrm{gene}_k)}{\textrm{num genes referenced by gene}_k} \right)$$

This iterative process is continued until 
there is only a small movement in probability across iterations.  In our case, we'll continue as long as:
$$0.01 < \sum_j | PR_i (\textrm{gene}_j) - PR_{i-1} (\textrm{gene}_j)|$$

Your goal for this problem is to write one or more stored procedures that together compute the PageRank of each of the genes in the graph. You will run your code, and use it to print out the 10 genes with the greatest PageRank, as well as the PageRank for those genes. 

Again, when you print out a gene, print out both the gene ID and the gene symbol. In this case, order the output in descending order by page rank.

## Getting Started

First, set up SQL:

In [1]:
%load_ext sql

In [2]:
username = "dbuser"
password = "comp543isgreat"
hostname = "postgres"
db = "comp543"
conn_str = f"postgresql://{username}:{password}@{hostname}/{db}"

In [3]:
%sql $conn_str

'Connected: dbuser@comp543'

In [4]:
%%sql
CREATE TABLE nodes (
  id INTEGER, 
  symbol VARCHAR (100));

CREATE TABLE edges ( 
  id INTEGER, 
  refId INTEGER);

 * postgresql://dbuser:***@postgres/comp543
(psycopg2.ProgrammingError) relation "nodes" already exists
 [SQL: 'CREATE TABLE nodes (\n  id INTEGER, \n  symbol VARCHAR (100));'] (Background on this error at: http://sqlalche.me/e/f405)

Once you've done this, use the two provided files to load the data into the database, like we did in Lab2.

Your username/password pair is dbuser/comp543isgreat. 

This time, the data is in INSERT statements, so we are just going to execute the .sql files. We do this with the \i command.

From the base of the lab folder (with the docker-compose.yml file), execute:

    docker-compose exec postgres psql -d comp543 -U dbuser
    
    \i data/biogridNodes.sql 
    \i data/biogridEdges.sql

You are now done with psql. Exit by typing:

    \q

Let's  create some indexes to help your code run faster

In [5]:
%%sql 
CREATE INDEX node_id ON nodes(id);
CREATE INDEX edges_id ON edges(id);
CREATE INDEX edges_refId ON edges(refId);

 * postgresql://dbuser:***@postgres/comp543
(psycopg2.ProgrammingError) relation "node_id" already exists
 [SQL: 'CREATE INDEX node_id ON nodes(id);'] (Background on this error at: http://sqlalche.me/e/f405)

In [104]:
%%sql 
DROP TABLE IF EXISTS isVisited;
CREATE TEMP TABLE isVisited(
    id INTEGER,
    visit BOOLEAN DEFAULT FALSE
);

DROP TABLE IF EXISTS stack;
CREATE TEMP TABLE stack(
    idx  SERIAL PRIMARY KEY,
    id INTEGER
);

DROP TABLE IF EXISTS Component;
CREATE TEMP TABLE Component(
    id INTEGER
);


DROP TABLE IF EXISTS result;
CREATE TEMP TABLE result(
    groupid INTEGER default -1,
    id INTEGER
);

INSERT INTO isVisited(id)
select id
from nodes;

drop function if exists dfs;
CREATE OR REPLACE FUNCTION dfs()
RETURNS void AS
$$
DECLARE
refer RECORD;
cou INTEGER;
node RECORD;
tempNode RECORD;
vi RECORD;
v BOOLEAN;
gid INTEGER default 0;

BEGIN 
   
    FOR node IN SELECT id FROM nodes
    LOOP
        SELECT visit into v from isVisited isv where isv.id = node.id;
        if v = False THEN
        
            INSERT INTO stack(id) VALUES(node.id);
            
            select count(*) into cou from stack;
            while cou > 0
            LOOP
                
                select id into tempNode
                FROM stack 
                WHERE idx IN (
                SELECT idx
                FROM stack
                ORDER BY idx DESC
                LIMIT 1
                );
                
                DELETE 
                FROM stack 
                WHERE idx IN (
                SELECT idx
                FROM stack
                ORDER BY idx DESC
                LIMIT 1
                );
                
                SELECT visit into v from isVisited isv where isv.id = tempNode.id;
                UPDATE isVisited set visit = True WHERE id = tempNode.id;
                
                if v = True Then
                    select count(*) into cou from stack;
                    continue;
                end if;
                
                INSERT INTO stack(id)
                SELECT refId FROM edges 
                WHERE id = tempNode.id and refid IN (
                SELECT id
                FROM isVisited
                where visit = False
                );
                
                INSERT INTO stack(id)
                SELECT id FROM edges 
                WHERE refId = tempNode.id and id IN (
                SELECT id
                FROM isVisited
                where visit = False
                );
                
                INSERT INTO Component(id) Values(tempNode.id);
                select count(*) into cou from stack;
                
            END LOOP;
            
            select count(*) into cou from Component;
            if cou >= 5 and cou <= 8 THEN
                INSERT INTO result(id)
                SELECT id
                from Component;
                UPDATE result set groupid = gid where groupid = -1;
            end if;
            
            gid := gid + 1;
            
            DELETE 
            FROM Component;
            
        end if;
    END LOOP; 
    
END;
$$
LANGUAGE plpgsql;

select*
from dfs();

DROP TABLE IF EXISTS isVisited;
DROP TABLE IF EXISTS stack;
DROP TABLE IF EXISTS Component;

select result.groupid, result.id, nodes.symbol
from result
inner join nodes on result.id = nodes.id
order by result.groupid, nodes.symbol;

 * postgresql://dbuser:***@postgres/comp543
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
7040 rows affected.
Done.
Done.
1 rows affected.
Done.
Done.
Done.
32 rows affected.

[(20, 2252, 'FGF7'),
 (20, 9982, 'FGFBP1'),
 (20, 3339, 'HSPG2'),
 (20, 4504, 'MT3'),
 (20, 7276, 'TTR'),
 (43, 23250, 'ATP11A'),
 (43, 23200, 'ATP11B'),
 (43, 286410, 'ATP11C'),
 (43, 10396, 'ATP8A1'),
 (43, 5205, 'ATP8B1'),
 (43, 55754, 'TMEM30A'),
 (43, 161291, 'TMEM30B'),
 (45, 8818, 'DPM2'),
 (45, 5277, 'PIGA'),
 (45, 5279, 'PIGC'),
 (45, 5283, 'PIGH'),
 (45, 51227, 'PIGP'),
 (45, 9091, 'PIGQ'),
 (79, 9382, 'COG1'),
 (79, 22796, 'COG2'),
 (79, 83548, 'COG3'),
 (79, 25839, 'COG4'),
 (79, 57511, 'COG6'),
 (79, 84342, 'COG8'),
 (85, 29103, 'DNAJC15'),
 (85, 131118, 'DNAJC19'),
 (85, 51025, 'PAM16'),
 (85, 10440, 'TIMM17A'),
 (85, 10245, 'TIMM17B'),
 (85, 100287932, 'TIMM23'),
 (85, 10469, 'TIMM44'),
 (85, 92609, 'TIMM50')]

In [105]:
%%sql
DROP TABLE IF EXISTS result;

 * postgresql://dbuser:***@postgres/comp543
Done.

[]

In [103]:
%%sql
-- your implementation of page rank goes here
DROP TABLE IF EXISTS pre_score;
CREATE TEMP TABLE pre_score(
    id INTEGER,
    score double precision
);

DROP TABLE IF EXISTS now_score;
CREATE TEMP TABLE now_score(
    id INTEGER,
    score double precision
);

DROP TABLE IF EXISTS temp_score;
CREATE TEMP TABLE temp_score(
    id INTEGER,
    score double precision
);

DROP TABLE IF EXISTS outRefCount;
CREATE TEMP TABLE outRefCount(
    id INTEGER,
    counts double precision
);

DROP TABLE IF EXISTS sinkNode;
CREATE TEMP TABLE sinkNode(
    id INTEGER
);

DROP TABLE IF EXISTS new_Edges;
CREATE TEMP TABLE new_Edges(
    id INTEGER,
    refId INTEGER
);

DROP FUNCTION IF EXISTS getScores();
CREATE OR REPLACE FUNCTION getScores() RETURNS table (id integer, score double precision)  AS
$$ 
DECLARE 
numNode double precision;
constantD double precision;
frontCon double precision;
difN double precision;
difO double precision;
sinkN double precision;

BEGIN
    constantD := 0.85;
    
    SELECT count(*) into numNode from nodes;
    
    frontCon := (1.0-constantD)/numNode;
    
    INSERT INTO pre_score(id, score)
    select nodes.id, 1/numNode
    from nodes;

    INSERT INTO now_score(id, score)
    select nodes.id, 1/numNode
    from nodes;
    
    INSERT INTO temp_score(id, score)
    select nodes.id, 1/numNode
    from nodes;
    
    INSERT INTO new_Edges(id, refId)
    select edges.id, refId
    from edges;
    
    INSERT INTO sinkNode(id)
    select n.id
    from nodes n
    where n.id not in(
        select e.id
        from edges e
    );
    
    INSERT INTO new_Edges(id, refId)
    select s.id, n.Id
    from sinkNode s, nodes n
    where s.id != n.id;
    
    INSERT INTO outRefCount(id, counts)
    select new_edges.id, count(*)
    from new_edges
    group by new_edges.id;
    
    while True
    LOOP
        UPDATE temp_score set score = temp_score.score/outRefCount.counts
        from outRefCount
        where outRefCount.id = temp_score.id;

        UPDATE now_score set score = frontCon + constantD*n.newScores
        from(
            select e.refID,  SUM(tmp.score) AS newScores
            from new_Edges AS e
                INNER JOIN temp_score AS tmp
                on   e.id = tmp.id
            group by e.refId
        ) AS n
        where now_score.id = n.refID;
        
        
        select sum(abs(n.score - p.score)) into difN
        from now_score n, pre_score p
        where n.id = p.id;
        
        if abs(difN) < 0.01 THEN
            EXIT;
        END IF;
        
        UPDATE pre_score set score = n.score
        from now_score AS n
        WHERE pre_score.id = n.id;
       
        UPDATE temp_score set score = n.score
        from now_score AS n
        WHERE temp_score.id = n.id;
        
    END LOOP;
    return query select now_score.id, now_score.score
                from now_score
                order by score DESC
                limit 10;

    
END;
$$ LANGUAGE plpgsql;

select a.id, a.score, nodes.symbol
from getScores() AS a
inner join nodes
on a.id = nodes.id;

 * postgresql://dbuser:***@postgres/comp543
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
10 rows affected.

[(7157, 0.00674630189889598, 'TP53'),
 (3065, 0.00490494162530114, 'HDAC1'),
 (4193, 0.00446734611872402, 'MDM2'),
 (2033, 0.00372415086295796, 'EP300'),
 (3320, 0.00342115332010504, 'HSP90AA1'),
 (1499, 0.00304394052371242, 'CTNNB1'),
 (207, 0.00274940799039217, 'AKT1'),
 (3066, 0.00273744648219404, 'HDAC2'),
 (672, 0.00268914484346327, 'BRCA1'),
 (8454, 0.00268832897937779, 'CUL1')]

In [106]:
%%sql
-- now run your page rank implementation
DROP TABLE IF EXISTS pre_score;
DROP TABLE IF EXISTS now_score;
DROP TABLE IF EXISTS temp_score;
DROP TABLE IF EXISTS outRefCount;
DROP TABLE IF EXISTS sinkNode;
DROP TABLE IF EXISTS new_Edges;

 * postgresql://dbuser:***@postgres/comp543
Done.
Done.
Done.
Done.
Done.
Done.

[]

## A Note on Speed
It is very important that you try to do as much as possible declaratively.  Looping through the contents of a table using a cursor is necessarily going to be slow.  You should try to do as much as is possible using declarative SQL queries.  Use loops and conditionals to guide the overall control flow, and when there's clearly no way to do what you want using declarative SQL. On this assignment, there's often a **100$\times$** or more difference in performance between a well-written code that is mostly using declarative queries, and one written with a lot of loops.  Speed does not matter, but it's easy to write a code that is so slow it will not complete in a reasonable time.  Not to mention that declarative queries are easier to code and debug!

## Turnin

Turn in your Jupyter Notebook on Canvas

## Academic Honesty

With a bit of searching, you can probably find SQL codes that implement one or both of these algorithms.  Since the goal here is figuring out how to do such computations in SQL, and finding an SQL code on the web that does this sort of defeats this goal, We're going to specify that it is not acceptable to examine or otherwise use
any SQL implementations of either algorithm - whether an implementation by a classmate, an SQL code in a textbook,
or something on the web.

However, discussions with classmates are fine, as is examining other SQL codes on the web (that don't implement these two algorithms, or any part thereof).  If you are unsure what is allowed, just ask!

## Grading

Each problem is worth 50\% of the overall grade.  If you get the right answer and your code is correct,
you get all of the points. 

If you don't get the right answer or your code is not correct, you won't get all of the points; partial credit may be given at the discretion of the grader.